<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="#">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="#">Blog</a>

                    <ul class="subnav">
                        <li>
                            <a class="subnav__link" href="#">Site creation</a>
                        </li>
                        <li>
                            <a class="subnav__link has-subnav" href="#">Internet marketing</a>
                        </li>
                        <li>
                            <a class="subnav__link" href="#">Video optimisation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Advertisement</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul>
                <li class="nav__item">
                    <a class="nav__link" href="#">Profile</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Search">
        </form>
    </div>
</header>
