<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/avatar.jpg" alt="">
            <div class="profile__name">Yevhenii Rodkin</div>
            <div class="profile__prof">front-end developer's blog</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="">
                        <img src="assets/images/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="">
                        <img src="assets/images/vk.svg" alt="vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="">
                        <img src="assets/images/pinterest.svg" alt="pinterest">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis magnam non pariatur
                    perspiciatis. Esse harum odio possimus quia! Consectetur maiores minima neque. Dolor dolorem ipsam
                    iste molestiae tenetur totam.</p>
            </div>
        </div>
    </div>

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Portfolio</a>
        <button class="btn btn--blue" type="button">Write me</button>
    </div>
</aside>